<!DOCTYPE HTML>
<html>
<header>
    <title>给poppy的</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <style type="text/css">
    body {
    background-color: #DB4D6D;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    color:#FFF;
    }

    h1 {
        font-size: 50px;
        font-weight: normal;
        margin: 0;
        font-family: 'Chelsea Market', Georgia, serif;
        color: #FFF;
        line-height: 1;
    }

    h2 {
        font-size: 70px;
        font-weight: normal;
        margin: 0;
        color: #FFB000;
        font-family: 'Chelsea Market', Georgia, serif;
        text-transform: lowercase;
    }

    h3 {
        font-size: 40px;
        font-weight: normal;
        margin: 0;
        margin-top: 40px;
        text-transform: lowercase;
    }

    p {
        width: 960px;
        margin: 40px auto;
        color: #FFF;
        line-height: 120%;
    }

    a, a:visited {
        color: #000;
        font-size: 12px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        list-style: none;
    }

    .download {
        padding: 10px;
    }

    pre {
        font-size: 18px;
    }

    blockquote {
        text-align: left;
        width: 720px;
        margin: 10px auto;
        background: #C5C3DE;
        border: solid 2px #69697A;
        padding: 0 40px;
    }

    code {
        background-color: #000;
        font-style: normal;
        border-radius: 10px;
        color: white;
        padding: 5px 15px;
        font-family: menlo, monospace;
    }

    .scrollblock {
        position: relative;
        margin: 0;
        width: 100%;
        color: white;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .scrollblock h2 {

    }

    .block-title { padding-bottom: 50px; }
    .block-title h2 { color: #FFF; }
    .block-title .meta { font-size: 16px; color: #FFF; }
    .block-title .meta a { font-size: 16px; color: #FFF; }
    .btn-outline {
    color: #563d7c;
    background-color: #fff;
    border-color: #e5e5e5;
    }
    </style>
</header>
<body>
    <div class="scrollblock block-title">
        <h1>给poppy的逆转检事2</h1>
        <p>我的这个服务器是在美国的，不晓得你下载快不快啊</p>
        <img src="images/arrow.png" alt="">
        <br />
        <br />
        <div style="width:50%;margin-left: auto;margin-right: auto;">
            <a href="/download" type="button" class="btn btn-block btn-lg btn-outline">点击下载逆转检事2完整汉化版</a>
        </div>
        <p class="meta">总之就先试试，不行再QQ给你传XD</p>
        <p class="meta">耍之前要先作好作业哎，还有，以后下东西的活就交给我吧ヾ(´▽｀*;)ゝ"</p>
    </div>
    <div id="site-navbar" style="position: absolute; top: -4px; left: -3px; border: 0; z-index: 2000;padding:0;margin:0;">
        <a href="/" title="返回首页" style="background:none;">
            <img src="images/return-back.png" style="padding:0;margin:0;border:0; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;">
        </a>
    </div>
</body>
</html>